/*Main body styling */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-image: url(background3.jpg);
  }

/*Title styling */
  #title {
      background-color: slategray;
      text-align: center;
      color: white;
  }

  .searchArea {
      margin-left: 20px;
  }

/*Search History */
  #searchHistory{
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 25px;
      color: white;
  }
  #search {
    padding-top: 10px;
  }

  .current{
      padding-top: 10px;
      margin-top: 10px;
  }

/*Five Day Card */
  .fiveDay {
      text-align: left;
      font-size: 16px; 
      flex-wrap: wrap;

  }

  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
  }

/*Next four target UV Indicator */
.low {
    background-color: green;
}


.moderate{
    background-color: yellow;
}

.high{
    background-color: orange;
}

.severe{
    background-color: red;
}

/*Clear Search History button */
#clearBtn {
    float: right;
}

.text {
    text-align: justify;
    text-overflow: unset;
}

.searches{
    text-align: center;
    width: 200px;
    height: 50px;  
    font-size: 16px; 
    display: inline-block;    
}

.currentWeather {
    color: white;
}


.card {
opacity: 1;

}

  
 
